<?xml version="1.0"?>
<!--The settings are splitted in general.xml, audio.xml and graphics.xml-->
<Container size="1024,768">

	<Label text="This is the Unknown Horizons settings dialog. Please make sure that you know, what you do." name="settings_dialog_title" wrap_text="1"  base_color="40, 40, 40"/>

        <Button position="100,100" size="64,32" name="showGeneral" text="General"/>
	<Button position="100,150" size="64,32" name="showGraphic" text="Graphic"/>
	<Button position="100,200" size="64,32" name="showAudio"   text="Audio"/>
	

	
	<HBox>
		<Spacer />
		<Button name="cancelButton" text="Cancel" base_color="40, 40, 40"/>
		<Button name="okButton" text="Ok" base_color="40, 40, 40"/>
	</HBox>

</Container>
