language: python
cache: pip
sudo: required
dist: trusty
python:
  - "3.4"

addons:
  apt:
    sources:
     - sourceline: 'deb [trusted=yes] https://debian.unknown-horizons.org/travis/ /'

before_install:
  - "sudo apt-get update"
  - "export DISPLAY=:99.0"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  - sleep 3 # give xvfb some time to start

install:
  - "sudo apt-get install python3-fife" # libfifechan0.1.4 not avalibale yet
  - "sudo apt-get install libenet2a" # libenet7 not avalibale in 14.04 Ubuntu
  - "pip3 install -r requirements.txt"

script:
  - "cp -a /usr/lib/python3/dist-packages/fife/ $VIRTUAL_ENV/lib/python3.4/site-packages/"
  - "prename 's/\\.cpython-34m-x86_64-linux-gnu/.cpython-34m/' $VIRTUAL_ENV/lib/python3.4/site-packages/fife/*.so"
  - python3 -c 'from fife import fife; print(fife.getVersion())'
  - isort -c -rc horizons tests *.py
  - pycodestyle horizons tests *.py development
  - COVERAGE_FILE=.coverage.nongui pytest --verbose --cov --cov-report= -rs
  - RUNCOV=1 pytest --gui-tests tests/gui --verbose --cov --cov-report= -rs

after_success:
  - coverage combine
  - coveralls

notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#unknown-horizons"
      - "chat.freenode.net#unknown-horizons-de"
    skip_join: false
    use_notice: false
