<?xml version="1.0"?>
<!-- Pychan is designed to overwrite style definitions like font="" by the style
     assigned to the settings in horizons.engine._setup_settings. -->
<Container name="settings_window" size="1000,580">
	<Icon image="content/gui/images/background/book.png" position="100,0" />
<!-- Pickbelts to the left -->
	<Container name="left_pickbelts" size="170,580" position="30,0">
	</Container>

<!-- Graphics section -->
<HBox name="graphics_settings" position="185,45" padding="25">
	<!-- Left pane -->
	<VBox name="graphics_left" max_size="320,500" min_size="320,0" padding="25">
		<VBox name="graphics" padding="2">
			<Label text="Graphics" name="headline_graphics" font="headline" />
			<Icon image="content/gui/images/background/hr.png" />
			<HBox  max_size="320,245">
				<VBox>
					<Label text="Screen resolution:" name="screen_resolution_label" wrap_text="1" />
					<ScrollArea min_size="100,115" >
						<ListBox name="screen_resolution" is_focusable="0" />
					</ScrollArea>
				</VBox>

			<Spacer fixed_size="35"/>

				<VBox>
					<Label name="color_depth_label" text="Color depth:" max_size="140,20"
						wrap_text="1" helptext="If set to 0, use the driver default" />
					<ScrollArea min_size="80,50" >
						<ListBox name="screen_bpp" is_focusable="0" />
					</ScrollArea>

				<Spacer min_size="20" />

					<Label name="screen_fullscreen_text" text="Full screen:" />
					<CheckBox min_size="24,24" name="enable_fullscreen" />
				</VBox>
			</HBox>
		</VBox>

		<VBox>
			<Label name="use_renderer_label" text="Used renderer:"
				wrap_text="1" helptext="SDL is only meant as unsupported fallback and might cause problems!" />
			<ScrollArea min_size="80,30" >
				<ListBox name="render_backend" is_focusable="0" />
			</ScrollArea>
		</VBox>

		<VBox>
			<Label name="fps_label" text="Frame rate limit:"
				wrap_text="1" helptext="Set the maximum frame rate used. Default: 60 fps." />
			<ScrollArea min_size="80,60" >
				<ListBox name="fps_rate" is_focusable="0" />
			</ScrollArea>
		</VBox>
	</VBox>

	<!-- Right pane -->
	<VBox name="graphics_right" max_size="320,500" min_size="320,0" padding="25">
		<VBox name="mouse_settings" padding="2">
			<Label name="headline_mouse" text="Mouse" font="headline" position_technique="automatic" />
			<Icon image="content/gui/images/background/hr.png" />

			 <HBox>
				<Label name="mouse_sensitivity_label" text="Mouse sensitivity:"
					wrap_text="1" max_size="250,40"  min_size="250,20"
					helptext="0 is default system settings" />
				<Label text="" name="mousesensitivity_value" />
			 </HBox>
			 <Slider size="300,20" name="mousesensitivity" is_focusable="0"
				 orientation="0" scale_start="-0.99" scale_end="2.00" step_length="1.0" />
		</VBox>
	</VBox>
</HBox>

<!-- Sound section -->
	<VBox name="sound_settings" position="185,45">

		<Label name="headline_sound" text="Sound" font="headline" />
		<Icon image="content/gui/images/background/hr.png" />

		<VBox>
			<HBox >
				<Label name="music_volume_label" text="Music volume:" wrap_text="1"
					min_size="250,20" max_size="250,40" />
				<Label name="volume_music_value" text="" />
			</HBox>
			<Slider size="300,20" name="volume_music" is_focusable="0"
				orientation="0" scale_start="0.0" scale_end="0.20" />
		</VBox>
		<VBox>
			<HBox >
				<Label text="Effects volume:" name="effect_volume_label"
					wrap_text="1" min_size="250,20" max_size="250,40" />
				<Label text="" name="volume_effects_value" />
			</HBox>
			<Slider size="300,20" name="volume_effects" is_focusable="0"
				orientation="0" scale_start="0.0" scale_end="0.5" />
		</VBox>
		<Spacer min_size="10" />
		<HBox>
			<Label name="sound_enable_opt_text" text="Enable sound:" />
			<CheckBox min_size="24,24" name="enable_sound" />
		</HBox>

	</VBox>

<!-- Game section -->
	<HBox name="game_settings" position="185,45" padding="25">
		<!-- Left pane -->
		<VBox name="game_left" max_size="320,500" min_size="320,0" padding="25">
			<VBox name="saving_settings" padding="2">
				<Label name="headline_saving" text="Saving" font="headline" position_technique="automatic" />
				<Icon image="content/gui/images/background/hr.png" />

				<HBox>
					<Label name="autosave_interval_label" text="Autosave interval in minutes:"
						wrap_text="1" max_size="250,40" min_size="250,20" />
					<Label text="" name="autosaveinterval_value" />
				</HBox>
				<Slider size="300,20" name="autosaveinterval" is_focusable="0"
					orientation="0" scale_start="0.0" scale_end="60.0" step_length="2.0" />

				<HBox>
					<Label name="number_of_autosaves_label" text="Number of autosaves:"
						wrap_text="1" max_size="250,40" min_size="250,20" />
					<Label text="" name="autosavemaxcount_value" />
				</HBox>
				<Slider size="300,20" name="autosavemaxcount" is_focusable="0"
					orientation="0" scale_start="1.0" scale_end="30.0" step_length="1.0" />

				<HBox>
					<Label name="number_of_quicksaves_label" text="Number of quicksaves:"
						wrap_text="1" max_size="250,40" min_size="250,20" />
					<Label text="" name="quicksavemaxcount_value" />
				</HBox>
				<Slider size="300,20" name="quicksavemaxcount" is_focusable="0"
					orientation="0" scale_start="1.0" scale_end="30.0" step_length="1.0" />
			</VBox>

			<VBox name="misc_settings" padding="2">

				<HBox>
					<Label name="minimap_rotation_label" text="Rotate minimap with map:" min_size="170,0"
						helptext="Whether to also rotate the minimap whenever the regular map is rotated" />
					<CheckBox min_size="24,24" name="minimaprotation" />
				</HBox>

				<HBox>
					<Label name="edge_scrolling_label" text="Scroll at map edge:" min_size="170,0"
						helptext="Whether to move the viewport when the mouse pointer is close to map edges" />
					<CheckBox min_size="24,24" name="edgescrolling" />
				</HBox>

				<HBox>
					<Label name="uninterrupted_building_label" text="Uninterrupted building:" min_size="170,0"
						helptext="When enabled, do not exit the build mode after successful construction" />
					<CheckBox min_size="24,24" name="uninterrupted_building" />
				</HBox>

				<HBox>
					<Label name="cursor_centered_zoom_label" text="Cursor centered zoom:" min_size="170,0"
						helptext="When enabled, mouse wheel zoom will use the cursor position as new viewport center" />
					<CheckBox min_size="24,24" name="cursor_centered_zoom" />
				</HBox>

				<HBox>
					<Label name="auto_unload_label" text="Auto-unload ship:" min_size="170,0"
						helptext="Whether to unload the ship after founding a settlement" />
					<CheckBox min_size="24,24" name="auto_unload" />
				</HBox>

				<HBox>
					<Label name="debug_log_lbl" text="Enable logging:" min_size="170,0"
						helptext="Don't use in normal game session. Decides whether to write debug information in the logging directory of your user directory. Slows the game down." />
					<CheckBox min_size="24,24" name="debug_log" />
				</HBox>

				<HBox>
					<Label name="show_resource_icons_lbl" text="Production indicators:" min_size="170,0"
						helptext="Whether to show resource icons over buildings whenever they finish production" />
					<CheckBox min_size="24,24" name="show_resource_icons" />
				</HBox>
			</VBox>

			<VBox name="quote_settings" padding="2" max_size="280,85" min_size="280,85">
				<HBox>
					<Label name="quote_type_label" text="Choose a quote type:" min_size="170,0"
						   helptext="What kind of quote to display while loading a game" />
					<ScrollArea min_size="110,85" >
						<ListBox name="quotestype" is_focusable="0" min_size="100,85" />
					</ScrollArea>
				</HBox>
			</VBox>
		</VBox>

		<!-- Right pane -->
		<VBox name="game_right" max_size="320,500" min_size="320,0" padding="25">
			<VBox name="language_settings">
				<Label text="Language"
					name="headline_language" font="headline" />
				<HBox>
					<Label text="Select language:" name="language_label" />
					<ScrollArea min_size="165,180" >
						<ListBox name="uni_language" is_focusable="0" />
					</ScrollArea>
				</HBox>
			</VBox>
			<VBox name="network_settings">
				<Label text="Network"
					name="headline_network" font="headline" />
				<HBox max_size="320,60">
					<Label text="Network port:" name="network_port_lbl"
						helptext="If set to 0, use the router default" />
					<TextField name="network_port" text="" min_size="50,16"/>
				</HBox>
			</VBox>
		</VBox>
	</HBox>

<!-- General section -->
	<HBox position="700,500" >
		<DeleteButton name="defaultButton" helptext="Reset to default settings" is_focusable="0" />
		<CancelButton helptext="Return" is_focusable="0" />
		<OkButton helptext="Apply" is_focusable="0" />
	</HBox>

<!-- This dropdown is invisible, but required by fife to be here -->
	<DropDown name="lighting_model" min_size="20,0" position="10000,0" />

<!-- Pickbelts to the right -->
	<Container name="right_pickbelts" position="835,0" size="170,580" />

</Container>
