<?xml version="1.0"?>
<!--     #TODO :: at the moment gui.py overwrites style definitions like font=""     -->
<Container name="settings_window" size="800,580">
<Icon image="content/gui/images/background/book.png" />

<!-- west side -->
<VBox size="320,520" position="65,32">
	<VBox> <!-- graphics -->
		<Label text="Settings" name="headline" />
		<Label name="warning"  wrap_text="0" 
			text="Please make sure that you know what you do." />
		<Icon image="content/gui/images/background/hr.png" />
		<Label name="headline_graphics"  text="Graphics" 
			font="libertine_headline" />
		<HBox name="graphic_settings" size="320,245">

			<VBox>
				<Label name="screen_resolution_label" text="Screen resolution:"
					position="22,50" wrap_text="1" />
				<ScrollArea min_size="100,105" >
				<ListBox name="screen_resolution" />
				</ScrollArea>
			</VBox>

			<Spacer />

			<VBox>
				<Label name="color_depth_label" text="Color depth:" position="180,50"
					wrap_text="1" max_size="140,20" />
				<ScrollArea  >
					<ListBox name="screen_bpp" />
				</ScrollArea>
				<Spacer />
				<Label name="use_renderer_label" text="Used renderer:" 
					wrap_text="1" />
				<ScrollArea > 
					<ListBox name="render_backend" />
				</ScrollArea>
			</VBox>
		</HBox>

		<Spacer />

		<HBox>
			<Label name="screen_fullscreen_text" text="Full screen:" />
			<CheckBox min_size="160,32" name="enable_fullscreen" />
		</HBox>
	</VBox>

	<Spacer />

	<VBox name="sound_settings" ><!-- sound -->
		<Label name="headline_sound" text="Sound" font="libertine_headline" />
		<VBox>
			<HBox >
				<Label name="music_volume_label" text="Music volume:" wrap_text="1"
					min_size="250,20" max_size="250,40" />
				<Label name="volume_music_value" text=""  />
			</HBox>
			<Slider size="300,20" name="volume_music"
				orientation="0" scale_start="0.0" scale_end="0.20" />
		</VBox>
		<VBox>
			<HBox >
				<Label name="effect_volume_label" text="Effects volume:" wrap_text="1"
					min_size="250,20" max_size="250,40"/>
				<Label name="volume_effects_value" text="" />
			</HBox >
			<Slider size="300,20" name="volume_effects"
				orientation="0" scale_start="0.0" scale_end="0.5" />
		</VBox>
		<HBox>
			<Label name="sound_enable_opt_text" text="Enable sound:" />
			<CheckBox min_size="160,32" name="enable_sound" />
		</HBox>
	</VBox>
</VBox> 

<!-- east side -->
<VBox size="320,520" position="420,32" name="saving_settings">
	<Label name="headline_saving"  text="Saving"  font="libertine_headline" 
		position_technique="center+0:center+0" />
	<VBox >
		<HBox>
			<Label name="autosave_interval_label"  text="Autosave interval:"
				wrap_text="1"  max_size="250,40"  min_size="250,20" />
			<Label text=""  name="autosaveinterval_value" />
		</HBox>
		<Slider size="300,20" name="autosaveinterval"
			orientation="0" scale_start="0.0" scale_end="60.0" step_length="2.0" />
	</VBox>
	<VBox >
		<HBox>
			<Label name="number_of_autosaves_label" text="Number of autosaves:" 
				wrap_text="1" max_size="250,40" min_size="250,20" />
			<Label text="" name="autosavemaxcount_value" />
		</HBox>
			<Slider size="300,20" name="autosavemaxcount"
				orientation="0" scale_start="1.0" scale_end="30.0" step_length="1.0" />
	</VBox>
	<VBox >
		<HBox>
			<Label name="number_of_quicksaves_label" text="Number of quicksaves:"
				wrap_text="1" max_size="250,40" min_size="250,20" />
			<Label text="" name="quicksavemaxcount_value" />
		</HBox>
		<Slider size="300,20" name="quicksavemaxcount"
			orientation="0" scale_start="1.0" scale_end="30.0" step_length="1.0" />
	</VBox>
	<VBox >
		<Label name="headline_language" text="Language" font="libertine_headline" />
		<HBox>
      <Label name="language_label" text="Select language:"/>
      <ScrollArea min_size="125,140" >
				<ListBox name="language" />
			</ScrollArea>
		</HBox>
	</VBox>
	<HBox >
		<ImageButton name="cancelButton"
			up_image="content/gui/images/buttons/close.png"
			hover_image="content/gui/images/buttons/close_h.png"
			down_image="content/gui/images/buttons/close.png" />

		<ImageButton name="okButton" 
			up_image="content/gui/images/buttons/ok.png"
			hover_image="content/gui/images/buttons/ok_h.png"
			down_image="content/gui/images/buttons/ok.png" />

		<ImageButton name="defaultButton" 
			up_image="content/gui/images/buttons/delete.png"
			hover_image="content/gui/images/buttons/delete_h.png"
			down_image="content/gui/images/buttons/delete.png" />
	</HBox>
</VBox>

<!-- This dropdown is invisible, but required by fife to be here -->
<DropDown name="lighting_model" min_size="20,0" position="10000,0" /> 
</Container>
