[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Unknown Horizons
Comment=A 2D real time strategy simulation with an emphasis on economy and city building
Icon=unknown-horizons
Exec=unknown-horizons
Terminal=false
Categories=Game;StrategyGame;Simulation;
