<Window title="Settings" base_color="40, 40, 40">
	<Label text="This is the OpenAnno settings dialog. Please make sure that you know, what you do."  wrap_text="1" max_size="320,240" base_color="40, 40, 40"/>
	<HBox>
		<VBox>
			<Label text="Screen resolution:" base_color="40, 40, 40"/>
			<Label text="Used renderer:" base_color="40, 40, 40"/>
			<Label text="Color depth:" base_color="40, 40, 40"/>
		</VBox>
		<VBox>
			<DropDown name="screen_resolution" base_color="40, 40, 40" />
			<DropDown name="screen_renderer" base_color="40, 40, 40"/>
			<DropDown name="screen_bpp" base_color="40, 40, 40"/>
		</VBox>
	</HBox>
	<CheckBox size="32,32" name="screen_fullscreen" text="Use the full screen mode" base_color="40, 40, 40"/>
	<HBox>
		<Spacer />
		<Button name="cancelButton" text="Cancel" base_color="40, 40, 40"/>
		<Button name="okButton" text="Ok" base_color="40, 40, 40"/>
	</HBox>
</Window>
