<?xml version="1.0"?>
<Container name="settings_window" size="800,580" position="100,100">
	<Icon image="content/gui/images/background/book.png" position="0,0" />
	
	<Container size="320,500" position="55,32">
		<Label text="Settings" position="120,10" name="headline" />
		<Label name="warning" text="Please make sure that you know, what you do." position="22,30"/>
		<Icon image="content/gui/images/background/hr.png" position="52,50" />
		
		<Container size="320,240" position="0,60" name="graphic_settings">
			<Label name="headline_graphics" text="GRAPHICS" position="12,0"/>
			<Label name="screen_resolution_label" text="Screen resolution:" position="22,40"/>
			<ScrollArea min_size="100,40" position="160,40">			
			<ListBox name="screen_resolution"/>
			</ScrollArea>
			<Label name="color_depth_label" text="Color depth:" position="22,95" />
			<ScrollArea min_size="100,40" position="160,95">			
			<ListBox name="screen_bpp"  />
			</ScrollArea>
			<Label name="use_renderer_label" text="Used renderer:" position="22,155" />
			<ScrollArea min_size="100,20" position="160,155">
			<ListBox name="screen_renderer" />
			</ScrollArea>
			<CheckBox min_size="160,32" name="screen_fullscreen" text="Full screen" position="22,190" />
		</Container>

		<Container size="320,200" position="0,300" name="sound_settings">
			<Label name="headline_sound" text="SOUND" position="12,0"/>
			<Label name="music_volume_label" text="Music volume:" position="22,40" />
			<Container size="180,30" position="150,40">
				<Slider size="120,20" name="volume_music" orientation="0" scale_start="0.0" scale_end="0.20" />
				<TextBox min_size="40,0" name="volume_music_value" text="" position="124,0" />
			</Container>
			<Label name="effect_volume_label" text="Effects volume:" position="22,80" /> 
			<Container size="180,30" position="150,80"> 
				<Slider size="120,20" name="volume_effects" orientation="0" scale_start="0.0" scale_end="0.5" />
				<TextBox min_size="40,0" name="volume_effects_value" text=""  position="124,0" />
			</Container>
			<CheckBox min_size="160,32" name="sound_enable_opt" text="Enable sound" position="22,120" />   	
		</Container>
	</Container>
	
	<Container size="320,500" position="420,32">
		<Container size="320,240" position="0,60" name="graphic_settings">
			<Label name="headline_saving" text="SAVING" position="12,0"/>			
			<Label name="autosave_interval_label" text="Autosave interval:" position="22,40" />
			<ScrollArea min_size="48,20" position="150,70">			
			<ListBox name="autosaveinterval" />
			</ScrollArea>
			<Label text="minutes" name="minutes_label" position="210,70" />
			<Label name="number_of_autosaves_label" text="Number of autosaves:" position="22,100" />
			<ScrollArea min_size="48,20" position="150,130">
			<ListBox name="savedautosaves" />
			</ScrollArea>
			<Label name="number_of_quicksaves_label" text="Number of quicksaves:" position="22,155" />
			<ScrollArea min_size="48,20" position="150,180">
			<ListBox name="savedquicksaves" />
			</ScrollArea>
		</Container>

		<Container size="320,140" position="0,300">
			<Label name="headline_language" text="LANGUAGE" position="12,0" />
			<Label name="language_label" text="Language:" position="22,40" /> 
			<ScrollArea min_size="120,60" position="150,40">
			<ListBox name="language" />   
			</ScrollArea>
		</Container>

		<Container size="320,40" position="200,460">
		<ImageButton name="cancelButton" up_image="content/gui/images/background/close.png" hover_image="content/gui/images/background/close_h.png" down_image="content/gui/images/background/close.png" position="0,0" />
		<ImageButton name="okButton" up_image="content/gui/images/background/ok.png" hover_image="content/gui/images/background/ok_h.png" down_image="content/gui/images/background/ok.png" position="60,0" />
		</Container>
	</Container>
</Container>
